.wrapper-legend {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px !important;
  border-radius: 3.80951px;
  color: #6B6B6B;
  font-size: 12px;
  width: max-content;
  margin: 23px auto;
  .ant-typography {
    display: flex;
    padding-right: 10px;
  }
  .box {
    min-width: 20px;
    min-height: 20px;
    border-radius: 3.80951px;
    display: inline-block;
    margin-right: 10px;
    &-delta {
      background-color: #EC5956;
    }
    &-interest {
      background-color: #FFC04E;
    }
    &-rewards {
      background-color: #8F76FA;
    }
  }
}