.nav {
  display: block;
  border-right: 1px solid #EAEAEA;
  height: 100%;
  width: 188px;
  background-color: white;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    width: 70%;
    margin-bottom: 45px;
    .icon {
      width: 40px;
    }
    .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: flex-end;
      color: #2C2C2C;
    }
  }
  .btn-wallets {
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 12px 15px;
    height: 41px;
    margin: auto;
  }
  .nav-connected {
    &__list {
      margin-left: 30px;
      margin-top: 21px;
      .text-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #2C2C2C;
        padding-bottom: 10px;
      }
      .text-right {
        padding-left: 8px;
        display: block;
      }
      .text-id {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #2C2C2C;
        display: block;
      }
      .text-name {
        font-size: 12px;
        line-height: 14px;
        color: #2C2C2C;
        display: block;
      }
    }
  }
  .ant-col {
    max-width: auto;
  }
}