.modal {
  width: 1122px;
  font-family: Rubik;
  color: #6B6B6B;
  .wrapper-current-yield {
    margin-top: 22px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 22px 50px 50px 50px;
  }
  .ant-typography {
    font-size: 14px;
  }
  h3.modal__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2c2c2c;
    width: 100%;
    margin-bottom: 50px;
  }
  &__list-tab {
    margin-top: 35px;
  }
  &__item-tab {
    span {
      color: #13ba9a !important;
    }
    cursor: pointer;
    width: 343px;
    padding: 8px 0px 8px 0px;
    text-align: center;

    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
  }
  .active {
    font-weight: 500;
    background-color: #e8fcf8;
  }
  &__card {
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    padding: 20px 15px;
    display: flex;
    height: 78px;
    .text {
      display: flex;
      font-weight: 700;
      font-size: 17.1406px;
      line-height: 20px;
      color: #2c2c2c;
      small {
        font-size: 11.4271px;
        line-height: 27px;
      }
    }
  }
  &__card-custom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 15px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    height: 78px;
  }
  .w-60 {
    width: 60px;
  }
  .ant-image {
    img {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .card {
    &__delta {
      width: 124px;
      background-color: #fbdedd;
      color: #ec5956;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      .ant-typography {
        color: #ec5956;
      }
    }
    &__interest {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      background-color: #fff2dc;
      .ant-typography {
        color: #ffc04e;
      }
    }
    &__rewards {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      background-color: #e9e4fe;
      .ant-typography {
        color: #8f76fa;
      }
    }
    &__total {
      top: 17px;
      left: 25px;
      .number {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #13ba9a;
      }
      .text {
        font-weight: 500;
        font-size: 11.4271px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #13ba9a;
        float: right;
        cursor: pointer;
      }
    }
  }
  .process-price {
    border: 1px solid #eaeaea;
    height: 51px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  .process-percent {
    width: 684px;
  }
  .process-text {
    margin-top: 52px;
  }
  // chart
  .wrapper-chart {
    width: 100%;
    height: 550px;
    margin-top: 22px;
    padding-top: 22px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .de-fi {
    &__list-box {
      text-align: center;
      margin: 0 auto 20px auto;
      width: 94%;
      padding-left: 50px;
    }
    &__box {
      padding: 7px 10px;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #6b6b6b;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
      .active-text {
        color: #13ba9a;
        font-weight: 500;
        text-decoration: underline;
      }
      &:not(:last-child) {
        margin-right: 22px;
      }
      span {
        &:not(:last-child) {
          padding-right: 10px;
        }
      }
    }
  }
}
.ant-image-mask:hover {
  opacity: 0;
}
