@keyframes button-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes loading {

  0% {
    left: -100%;
  }

  50%,
  60% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}
