// Width
.w-100 {
  width: 100% !important;
}
// height
.h-100 {
  height: 100% !important;
}

// Margin
.m-0 {
  margin: 0 !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.margin-auto {
  margin: 0 auto;
}

// Padding

.pb-12 {
  padding-bottom: 12px;
}

.pl-6 {
  padding-left: 6px;
}

// flex

.d-block {
  display: block !important;
}

.d-flex{
  display: flex;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center{
  align-items:center;
}

// font 

.bold {
  font-weight: bold;
}

// page

.wrapper-content {
  padding: 30px;
}

// custom color

.color-13BA9A {
  color: #13BA9A !important;
}

// background

.background-white {
  background-color: white !important;
}